body { 
    font-family: sans-serif; 
    text-align: center; 
    padding: 50px; 
    background: #f9f9f9;
    margin: 0; 
}

.box { 
    background: white; 
    padding: 30px;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0,0,0,00.1); 
    display: inline-block; 
    width: 90%; 
    max-width: 500px;
    margin: 100px auto 0;
}
textarea { 
    width: 100%; 
    height: 120px; 
    padding: 12px;
    margin: 15px 0; 
    font-family: monospace; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-sizing: border-box;
}
button { 
    padding: 14px 30px; 
    background: #d42c2c; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-size: 18px; 
    cursor: pointer; 
}

button:hover { 
    background: #b71c1c; }

.info { 
    margin-top: 20px; 
    font-size: 14px; 
    color: #666; 
}

.coco>p {
    font-weight: 400;
}